<h1>All Pets</h1>
<% @pets.each do |pet| %>
  <img src="<%= pet.image_path %>" alt="<%= pet.image_path %>">
  <ul>
    <li>Name: <%= pet.name %></li>
    <li>Approximate age: <%= pet.approximate_age %></li>
    <li>Sex: <%= pet.sex %></li>
    <li>Shelter: <%= pet.shelter.name %></li>
  </ul>
<% end %>
