<h1>New Pet</h1>
<%= form_tag "/pets" do %>
  <%= label_tag :name, "Name" %>
  <%= text_field_tag :name %>
  <%= label_tag :description, "Description"  %>
  <%= text_field_tag :description%>
  <%= label_tag :approximate_age, "Approximate Age"  %>
  <%= text_field_tag :approximate_age%>
  <%= label_tag :sex, "Sex"  %>
  <%= text_field_tag :sex%>
  <%= label_tag :image_path, "Image Path"  %>
  <%= text_field_tag :image_path%>
  <%= hidden_field_tag :shelter_id, "#{@shelter.id}" %>
  <%= submit_tag "Create Pet" %>
<% end %>
