<h1><%= @pet.name %></h1>
<img class="pet-show-img"src="<%= @pet.image_path %>" alt="<%= @pet.image_path %>">
<p>Description: <%= @pet.description %> </p>
<p>Approximate Age: <%= @pet.approximate_age %> </p>
<p>Sex: <%= @pet.sex %> </p>
<p>Adoption status: <%= @pet.adoption_status %> </p>
<a href="/pets/<%= @pet.id %>/edit" id="Update Pet">Update Pet</a>
<form action="/pets/<%= @pet.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Pet" id="Delete Pet"/>
</form>
